/* ÔTER LES PAS/MARGES PAR DEFAUT DE TOUS LES ELEMENTS */
:root {
  --font-body: "heebo", sans-serif;
  /* --font-size-xl: clamp(3.5rem, 12vw+1rem, 12rem); */
  --font-size-xl: 3rem;
  --font-size-M: 2rem;
  --font-size: 1rem;
  --fond: #fdefd7;
  /* --fond: yellow; */
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-shadow: none;
}
*::selection {
  color: none;
  background: none;
}
body {
  background-color: var(--fond);
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  height: 100vh;
}
text {
  pointer-events: none;
  fill: #fffcf9;
  font-size: 1.8em;
  font-family: "din-condensed-web", sans-serif;
  text-anchor: middle;
  letter-spacing: 1.2px;
}
